absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
chex==0.1.86
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
et-xmlfile==1.1.0
etils==1.9.2
flatbuffers==24.3.25
flax==0.8.4
fonttools==4.25.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
importlib_resources==6.4.0
inflection==0.5.1
jax==0.4.28
jaxlib==0.4.28
jsonpointer==2.1
keras==3.3.3
libclang==18.1.1
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
openpyxl==3.0.10
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
orbax-checkpoint==0.5.16
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.0
tensorflow_decision_forests==1.9.0
tensorflowjs==4.20.0
tensorstore==0.1.61
termcolor==2.4.0
tf_keras==2.16.0
webencodings==0.5.1
xgboost==2.0.3

